* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inheri;
}

@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-Medium.eot"), url("../fonts/Unbounded-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Unbounded-Medium.woff2") format("woff2"), url("../fonts/Unbounded-Medium.woff") format("woff"), url("../fonts/Unbounded-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SFUIDisplay-Regular.eot"), url("../fonts/SFUIDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"), url("../fonts/SFUIDisplay-Regular.woff") format("woff"), url("../fonts/SFUIDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SFUIDisplay-Medium.eot"), url("../fonts/SFUIDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIDisplay-Medium.woff2") format("woff2"), url("../fonts/SFUIDisplay-Medium.woff") format("woff"), url("../fonts/SFUIDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.eot"), url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "SF UI Display";
  font-size: 16px;
  color: #000;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  margin: 0 auto;
  height: 100%;
  max-width: 1170px;
  width: 100%;
}

.bg_blue {
  background: #101825;
  line-height: 130%;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 42px;
  text-transform: uppercase;
  color: #fff;
  background: #ee2d45;
  cursor: pointer;
}
.btn__red-shadow {
  background: var(--Primary-2, #ee2d45);
  box-shadow: 0px 0px 15px 0px rgba(186, 14, 35, 0.3);
}
.btn:hover {
  background: #ba0e23;
}

.title {
  font-family: "Unbounded";
  color: #000;
  font-size: 42px;
}
.title__white {
  color: #fff;
}

.subtitle {
  margin-top: 48px;
}

.section {
  padding: 60px 0;
}
.section_white {
  background: #fff;
}
.section_grey {
  background: #f7f8ff;
}

.slider__wrapper {
  position: relative;
}

.slider__btn-prev,
.slider__btn-next {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  border-radius: 18px;
  border: 1px solid #dde0ed;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 5;
  background: rgba(255, 255, 255, 0.1);
}
.slider__btn-prev svg,
.slider__btn-next svg {
  width: 20px;
  flex: 0 0 20px;
}
.slider__btn-prev.swiper-button-disabled,
.slider__btn-next.swiper-button-disabled {
  opacity: 0.5;
}

.slider__btn-prev {
  left: -40px;
  transform: translate(-100%, -50%);
}

.slider__btn-next {
  right: -40px;
  transform: translate(100%, -50%) rotate(180deg);
}

.tabs input {
  position: absolute;
  z-index: -1;
  visibility: hidden;
}
.tabs label {
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 400;
  font-family: "SF UI Display";
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 27px;
  cursor: pointer;
  background: #fff;
}
.tabs input:checked + label {
  border: 1px solid #ee2d45;
}
.tabs_small label {
  padding: 0 12px;
  font-size: 12px;
  height: 27px;
}

.header {
  position: relative;
}
.header__main {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__main-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__main-menu-block {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 22px;
}
.header__main-search {
  height: 28px;
  cursor: pointer;
}
.header__main-search svg {
  height: 100%;
}
.header__main-menu {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 36px;
}
.header__main-menu a {
  color: #fff;
}
.header__main-menu a:hover {
  text-decoration: underline;
}
.header__main-city-select {
  height: 34px;
  width: 200px;
  padding: 0 18px;
  position: relative;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
}
.header__main-city-select svg {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translate(0, -50%);
}
.header__search-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 23px;
  overflow: hidden;
  max-height: 0;
  background: #101825;
  z-index: 20;
  border-radius: 0 0 25px 25px;
}
.header__search-panel.active {
  max-height: 50px;
  padding: 6px 20px;
}
.header__search-input-block {
  position: relative;
}
.header__search-input-block input {
  padding: 0 38px 0 12px;
  width: 258px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 40px;
  color: #fff;
}
.header__search-input-block svg {
  height: 22px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translate(0, -50%);
}
.header__search-cancel {
  color: #fff;
  font-size: 11px;
  display: none;
}
.header__bottom {
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__bottom.transparent {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, 100%);
  z-index: 3;
}
.header__bottom.transparent .header__contacts-title {
  color: rgba(255, 255, 255, 0.5019607843);
}
.header__bottom.transparent .header__contacts-item {
  color: #ffffff;
}
.header__bottom.transparent .header__contacts-btn {
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.header__bottom.transparent .header__contacts-btn div {
  aspect-ratio: 1/1;
  height: 4px;
  background: #fff;
  border-radius: 50%;
}
.header__bottom.transparent .header__btns-item path {
  stroke: #fff;
  fill: #fff;
}
.header__bottom.transparent .header__btns-item:nth-child(2) path, .header__bottom.transparent .header__btns-item:nth-child(3) path {
  fill: transparent;
}
.header__bottom-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  height: 50px;
}
.header__logo img {
  height: 100%;
}
.header__bottom-right {
  display: flex;
  align-items: center;
  gap: 83px;
}
.header__bottom-right_mobile {
  display: none;
  gap: 6px;
}
.header__contacts {
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}
.header__contacts-title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5019607843);
}
.header__contacts-item {
  font-size: 20px;
  display: flex;
  gap: 8px;
}
.header__contacts-btn {
  padding: 0 8px;
  width: 34px;
  height: 18px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__contacts-btn div {
  aspect-ratio: 1/1;
  height: 4px;
  background: #000;
  border-radius: 50%;
}
.header__btns-line {
  height: 39px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__btns-line_top {
  display: none;
  height: 22px;
}
.header__btns-line_top svg path {
  stroke: #fff;
  fill: #fff;
}
.header__btns-line_top .header__btns-item svg {
  height: 22px !important;
}
.header__btns-line_top .header__btns-item:nth-child(1) svg {
  height: 16px !important;
}
.header__btns-line_top .header__btns-item:nth-child(2) path, .header__btns-line_top .header__btns-item:nth-child(3) path {
  fill: transparent;
}
.header__btns-line_top .header__cart-marker {
  top: -3px;
  right: 4px;
  height: 12px;
  width: 12px;
  font-size: 6px;
}
.header__btns-item svg {
  height: 100%;
}
.header__btns-item path {
  stroke: #000;
  fill: #000;
}
.header__btns-item:nth-child(2) path, .header__btns-item:nth-child(3) path {
  fill: transparent;
}
.header__cart {
  position: relative;
}
.header__cart-marker {
  display: none;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  background: #ee2d45;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 500;
  color: #fff;
}
.header__cart-marker.active {
  display: flex;
}

.burger-btn,
.header__call_mobile {
  width: 40px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
.burger-btn svg,
.header__call_mobile svg {
  height: 20px;
}

.burger-btn svg {
  height: 14px;
}

.city-select {
  cursor: pointer;
}
.city-select__title {
  color: #fff;
}
.city-select__list {
  box-sizing: content-box;
  margin-left: -1px;
  display: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translate(0, 100%);
  background: #101825;
  z-index: 10;
  border-radius: 0 0 17px 17px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.city-select__list a {
  color: rgba(255, 255, 255, 0.6);
}
.city-select__list a.select {
  color: #fff;
}
.city-select__list li {
  padding: 10px 5px 10px 18px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.city-select__list li:first-child {
  border: none;
}
.city-select.active {
  border-radius: 17px 17px 0 0;
}
.city-select.active .city-select__list {
  display: block;
}

.first-screen {
  position: relative;
  height: 850px;
  overflow: hidden;
}
.first-screen__bg {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 30.41%), linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
}
.first-screen img {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
.first-screen__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.first-screen__content {
  max-width: 780px;
  position: absolute;
  left: 0;
  top: calc(50% + 104px);
  transform: translate(0, -50%);
}
.first-screen__title {
  text-transform: uppercase;
  line-height: 130%;
}
.first-screen__subtitle {
  margin-top: 22px;
  color: #fff;
}
.first-screen__subtitle li {
  font-size: 20px;
  line-height: 130%;
}
.first-screen__btn {
  margin-top: 60px;
  height: 60px;
  width: 170px;
  font-size: 14px;
}

.advantages__title {
  text-align: center;
}
.advantages__content {
  margin-top: 48px;
  display: flex;
  gap: 29px;
}
.advantages__item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.advantages__marker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  flex: 0 0 78px;
  height: 78px;
  border: 1px solid rgb(221, 224, 237);
  border-radius: 33px;
}
.advantages__marker:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.advantages__text {
  line-height: 130%;
}

.category__title {
  display: flex;
  justify-content: space-between;
}
.category__tab-block {
  display: flex;
  gap: 26px;
  position: absolute;
  right: 0;
  top: -48px;
  transform: translate(0, -100%);
}
.category__text {
  position: relative;
  color: rgba(0, 0, 0, 0.8);
  line-height: 130%;
}
.category__slider {
  height: 340px;
}
.category__slide {
  overflow: hidden;
  border-radius: 16px;
}
.category__slide_all {
  position: relative;
  background: #eef0fc;
  border: 1px solid #dde0ed;
}
.category__slide_all svg {
  height: 40px;
  position: absolute;
  top: 35px;
  left: 28px;
}
.category__slide_all .category__slide-title {
  color: #000;
}
.category__slide_all .category__slide-subtitle {
  color: rgba(0, 0, 0, 0.7);
}
.category__slide:hover .category__slide-title {
  text-decoration: underline;
}
.category__slide-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.category__slide-img img {
  height: 100%;
  position: absolute;
  left: -40%;
  z-index: -1;
  filter: brightness(0.6);
}
.category__slide-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 28px;
  position: relative;
  z-index: 2;
}
.category__slide-title {
  font-family: "Unbounded";
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}
.category__slide-subtitle {
  margin-top: 8px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}
.category__table_mobile {
  display: none;
}

.useful__title {
  margin: 0 auto;
  text-align: center;
  max-width: 550px;
}
.useful__content {
  margin-top: 60px;
  position: relative;
}
.useful__img {
  width: 100%;
}
.useful__img img {
  width: 100%;
}
.useful__textblock {
  position: absolute;
  inset: 0;
}
.useful__text {
  position: absolute;
  max-width: 170px;
  font-size: 16px;
  line-height: 130%;
}
.useful__text:nth-child(1) {
  top: 27%;
  left: 0;
}
.useful__text:nth-child(2) {
  top: 27%;
  left: 17%;
}
.useful__text:nth-child(3) {
  top: 85%;
  left: 0;
}
.useful__text:nth-child(4) {
  top: 85%;
  left: 17%;
}
.useful__text:nth-child(5) {
  top: 27%;
  left: 69%;
}
.useful__text:nth-child(6) {
  top: 27%;
  left: 85.5%;
}
.useful__text:nth-child(7) {
  top: 85%;
  left: 69%;
}
.useful__text:nth-child(8) {
  top: 85%;
  left: 85.5%;
}

.popular__title {
  display: flex;
  justify-content: space-between;
}
.popular__tab-block {
  display: flex;
  gap: 20px;
}
.popular__slider {
  padding: 10px !important;
}
.popular__slider-wrapper {
  position: relative;
}
.popular__filter-block {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.product-card {
  padding: 16px;
  position: relative;
  background: #fff;
  border-radius: 16px;
  border: 1px solid #dde0ed;
}
.product-card:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.product-card__header {
  padding: 0 16px;
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
.product-card__header-info {
  height: 27px;
  padding: 12px;
  border-radius: 30px;
  border: 1px solid #0fb800;
  font-size: 12px;
  color: #0fb800;
  display: flex;
  align-items: center;
  gap: 8px;
}
.product-card__header-btns {
  display: flex;
  gap: 8px;
}
.product-card__header-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
.product-card__header-btn svg {
  height: 22px;
}
.product-card__header-btn.select {
  background: #ba0e23;
}
.product-card__header-btn.select svg path {
  stroke: #fff;
}
.product-card__img {
  margin-top: 30px;
  width: 100%;
  aspect-ratio: 270/300;
  overflow: hidden;
}
.product-card__img img {
  height: 100%;
}
.product-card__info {
  margin-top: 16px;
}
.product-card__article {
  font-size: 11px;
  color: #a9a9a9;
}
.product-card__title {
  margin-top: 4px;
  line-height: 130%;
}
.product-card__price-block {
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-card__price {
  font-size: 18px;
  font-weight: 500;
}
.product-card__price span {
  color: rgba(0, 0, 0, 0.5019607843);
  font-size: 12px;
  font-weight: 400;
}
.product-card__rate {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  font-weight: 500;
}
.product-card__rate span {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 400;
}
.product-card__select-title {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.4);
}
.product-card__tab-block {
  margin-top: 8px;
  display: flex;
  gap: 8px;
}
.product-card__btn {
  margin-top: 19px;
  height: 40px;
  font-size: 12px;
}
.product-card__btn-block {
  margin-top: 16px;
}

@media (max-width: 1400px) {
  .slider__btn-prev {
    left: 5px;
    transform: translate(0%, -50%);
  }
  .slider__btn-next {
    right: 5px;
    transform: translate(0%, -50%) rotate(180deg);
  }
}
@media (max-width: 1300px) {
  .first-screen {
    height: 600px;
  }
  .first-screen__content {
    max-width: 500px;
  }
  .first-screen__title {
    font-size: 24px;
  }
  .first-screen__subtitle li {
    font-size: 16px;
  }
  .first-screen img {
    width: 1400px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
@media (max-width: 1170px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
  .advantages__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1050px) {
  .header__logo {
    height: 35px;
  }
  .header__main-menu {
    gap: 17px;
  }
  .header__main-menu a {
    font-size: 14px;
  }
  .title {
    font-size: 22px;
  }
  .text {
    font-size: 14px;
  }
  .useful__text {
    font-size: 14px;
    max-width: 140px;
  }
}
@media (max-width: 950px) {
  .category__table_mobile {
    margin: 30px auto 0;
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    gap: 30px;
  }
  .category__slider {
    display: none !important;
  }
  .category__btn-prev, .category__btn-next {
    display: none;
  }
  .category__slide {
    height: 250px;
    position: relative;
  }
  .category__slide-img img {
    min-width: 100%;
    min-height: 100%;
    left: auto;
    z-index: auto;
  }
}
@media (max-width: 850px) {
  .burger {
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(110%, 0);
  }
  .burger.active {
    transform: translate(0, 0);
  }
  .header__main {
    height: 42px;
  }
  .header__main-menu {
    display: none;
  }
  .header__btns-line_top {
    display: flex;
    align-items: center;
  }
  .header__bottom {
    height: 50px;
  }
  .header__logo {
    display: flex;
    align-items: center;
  }
  .header__logo img {
    height: 26px;
  }
  .header__bottom-right {
    display: none;
  }
  .header__bottom-right_mobile {
    display: flex;
  }
  .header__btns-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .first-screen {
    height: 520px;
  }
  .first-screen img {
    left: 20%;
  }
  .first-screen__content {
    width: 500px;
    top: calc(50% + 50px);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .first-screen__title {
    text-align: center;
  }
  .category__tab-block {
    margin: 20px 0 0;
    position: static;
    transform: translate(0, 0);
    justify-content: center;
  }
  .useful__content {
    margin: 20px auto 0;
    max-width: 320px;
  }
  .useful__text {
    max-width: 150px;
  }
  .useful__text:nth-child(1) {
    top: 2%;
    left: 25%;
  }
  .useful__text:nth-child(2) {
    top: 10%;
    left: 39%;
  }
  .useful__text:nth-child(3) {
    top: 18%;
    left: 25%;
  }
  .useful__text:nth-child(4) {
    top: 27%;
    left: 39%;
  }
  .useful__text:nth-child(5) {
    top: 68%;
    left: 25%;
  }
  .useful__text:nth-child(6) {
    top: 76%;
    left: 39%;
  }
  .useful__text:nth-child(7) {
    top: 84%;
    left: 25%;
  }
  .useful__text:nth-child(8) {
    top: 93%;
    left: 39%;
  }
}
@media (max-width: 650px) {
  .section {
    padding: 30px 0;
  }
  .subtitle {
    margin-top: 20px;
  }
  .advantages__text {
    font-size: 11px;
  }
  .advantages__item {
    gap: 5px;
  }
  .advantages__marker {
    width: 40px;
    flex: 0 0 40px;
    height: 40px;
    border-radius: 16px;
  }
  .advantages__marker svg {
    height: 12px;
  }
  .category__table_mobile {
    padding: 0;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 10px;
  }
  .category__slide {
    height: 154px;
    max-width: 320px;
    position: relative;
  }
  .category__slide_all svg {
    height: 23px;
    left: 20px;
    top: 20px;
  }
  .category__slide-img img {
    width: 100%;
    min-height: 100%;
    height: auto;
    bottom: -15%;
    z-index: auto;
  }
  .category__tab-block {
    gap: 10px;
  }
  .tabs label {
    padding: 0 20px;
    font-size: 11px;
    height: 38px;
  }
}
@media (max-width: 500px) {
  .first-screen__title {
    font-size: 24px;
  }
  .first-screen__content {
    width: 100%;
  }
  .first-screen__subtitle {
    margin-top: 30px;
  }
  .first-screen__btn {
    margin-top: 40px;
    height: 50px;
    width: 100%;
  }
  .header__search-panel {
    height: 100%;
    border-radius: 0;
    bottom: auto;
    top: 0;
    transform: translate(0, 0);
    width: 100%;
  }
  .header__search-panel.active {
    padding: 0;
  }
  .header__search-cancel {
    display: block;
  }
}
@media (max-width: 360px) {
  .header__search-input-block input {
    width: 210px;
    flex: 1 1 auto;
  }
  .category__table_mobile {
    grid-template-columns: repeat(1, 300px);
  }
  .tabs label {
    padding: 0 5px;
  }
}/*# sourceMappingURL=style.css.map */