.move-slider {
    &__container {
        position: relative;
        width: 100%;
        height: 100%;
        border: none;
        & img {
            height: 100%;
            position: absolute;
            top: 0;
        }
    }
    &__control {
        position: absolute;
        inset: 0;
        display: flex;
        z-index: 3;
    }
    &__control-item {
        height: 100%;
    }
    &__indicator {
        padding: 0 16px;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 2;
        display: flex;
        justify-content: stretch;
        gap: 2px;
    }
    &__indicator-item {
        height: 1px;
        background: #dde0ed;
        flex: 1 0 auto;

        &.active {
            background: #ee2d45;
        }
    }
}
