@import "res";
@import "mixin"; //@include font(ff, filename, fw);

@include font(Unbounded, Unbounded-Medium, 500);
@include font(SF UI Display, SFUIDisplay-Regular, 400);
@include font(SF UI Display, SFUIDisplay-Medium, 500);
@include font(Lato, Lato-Bold, 600);

body {
    font-family: "SF UI Display";
    font-size: 16px;
    color: #000;
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    overflow-y: auto;
    // temp
}
.container {
    margin: 0 auto;
    height: 100%;
    max-width: 1170px;
    width: 100%;
}
.bg {
    &_blue {
        background: #101825;
        line-height: 130%;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 42px;
    text-transform: uppercase;
    color: #fff;
    background: #ee2d45;
    cursor: pointer;
    &__red-shadow {
        background: var(--Primary-2, #ee2d45);
        box-shadow: 0px 0px 15px 0px rgba(186, 14, 35, 0.3);
    }
    &:hover {
        background: #ba0e23;
    }
}
.title {
    font-family: "Unbounded";
    color: #000;
    font-size: 42px;
    &__white {
        color: #fff;
    }
}
.subtitle {
    margin-top: 48px;
}
.section {
    padding: 60px 0;
    &_white {
        background: #fff;
    }
    &_grey {
        background: #f7f8ff;
    }
}
.slider__wrapper {
    position: relative;
}
.slider__btn-prev,
.slider__btn-next {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    border-radius: 18px;
    border: 1px solid #dde0ed;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 5;
    background: rgba(255, 255, 255, 0.1);
    & svg {
        width: 20px;
        flex: 0 0 20px;
    }
    &.swiper-button-disabled {
        opacity: 0.5;
    }
}
.slider__btn-prev {
    left: -40px;
    transform: translate(-100%, -50%);
}

.slider__btn-next {
    right: -40px;
    transform: translate(100%, -50%) rotate(180deg);
}
.tabs {
    & input {
        position: absolute;
        z-index: -1;
        visibility: hidden;
    }
    & label {
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        font-weight: 400;
        font-family: "SF UI Display";
        height: 50px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 27px;
        cursor: pointer;
        background: #fff;
    }
    & input:checked + label {
        border: 1px solid #ee2d45;
    }
    &_small {
        & label {
            padding: 0 12px;
            font-size: 12px;
            height: 27px;
        }
    }
}
.header {
    position: relative;
    &__main {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__main-wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__main-menu-block {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 22px;
    }

    &__main-search {
        height: 28px;
        cursor: pointer;
        & svg {
            height: 100%;
        }
    }

    &__main-menu {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 36px;
        & a {
            color: #fff;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__main-city-select {
        height: 34px;
        width: 200px;
        padding: 0 18px;
        position: relative;
        border-radius: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        display: flex;
        align-items: center;

        & svg {
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translate(0, -50%);
        }
    }
    &__search-panel {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(0, 100%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 23px;
        overflow: hidden;
        max-height: 0;
        background: #101825;
        z-index: 20;
        border-radius: 0 0 25px 25px;
        &.active {
            max-height: 50px;
            padding: 6px 20px;
        }
    }
    &__search-input-block {
        position: relative;
        & input {
            padding: 0 38px 0 12px;
            width: 258px;
            height: 30px;
            background: transparent;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 40px;
            color: #fff;
        }
        & svg {
            height: 22px;
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translate(0, -50%);
        }
    }
    &__search-cancel {
        color: #fff;
        font-size: 11px;
        display: none;
    }

    &__bottom {
        height: 104px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &.transparent {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translate(0, 100%);
            z-index: 3;
            & .header__contacts-title {
                color: #ffffff80;
            }
            & .header__contacts-item {
                color: #ffffff;
            }

            & .header__contacts-btn {
                border: 1px solid rgba(255, 255, 255, 0.3);
                & div {
                    aspect-ratio: 1/1;
                    height: 4px;
                    background: #fff;
                    border-radius: 50%;
                }
            }
            & .header__btns-item {
                & path {
                    stroke: #fff;
                    fill: #fff;
                }
                &:nth-child(2),
                &:nth-child(3) {
                    & path {
                        // stroke: #fff;
                        fill: transparent;
                    }
                }
            }
        }
    }
    &__bottom-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        height: 50px;
        & img {
            height: 100%;
        }
    }

    &__bottom-right {
        display: flex;
        align-items: center;
        gap: 83px;
        &_mobile {
            display: none;
            gap: 6px;
        }
    }

    &__contacts {
        height: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
    }

    &__contacts-title {
        font-size: 14px;
        color: #00000080;
    }

    &__contacts-item {
        font-size: 20px;
        display: flex;
        gap: 8px;
    }

    &__contacts-btn {
        padding: 0 8px;
        width: 34px;
        height: 18px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: space-between;
        align-items: center;
        & div {
            aspect-ratio: 1/1;
            height: 4px;
            background: #000;
            border-radius: 50%;
        }
    }

    &__btns-line {
        height: 39px;
        display: flex;
        align-items: center;
        gap: 16px;
        &_top {
            display: none;
            height: 22px;
            & svg {
                & path {
                    stroke: #fff;
                    fill: #fff;
                }
            }
            & .header__btns-item {
                & svg {
                    height: 22px !important;
                }
                &:nth-child(1) {
                    & svg {
                        height: 16px !important;
                    }
                }
                &:nth-child(2),
                &:nth-child(3) {
                    & path {
                        fill: transparent;
                    }
                }
            }
            & .header__cart-marker {
                top: -3px;
                right: 4px;
                height: 12px;
                width: 12px;
                font-size: 6px;
            }
        }
    }

    &__btns-item {
        & svg {
            height: 100%;
        }
        & path {
            stroke: #000;
            fill: #000;
        }
        &:nth-child(2),
        &:nth-child(3) {
            & path {
                fill: transparent;
            }
        }
    }

    &__cart {
        position: relative;
    }

    &__cart-marker {
        display: none;
        position: absolute;
        top: -5px;
        right: -5px;
        width: 20px;
        height: 20px;
        background: #ee2d45;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        font-weight: 500;
        color: #fff;
        &.active {
            display: flex;
        }
    }
}
.burger-btn,
.header__call_mobile {
    width: 40px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    & svg {
        height: 20px;
    }
}
.burger-btn {
    & svg {
        height: 14px;
    }
}

.city-select {
    cursor: pointer;
    &__title {
        color: #fff;
    }
    &__list {
        box-sizing: content-box;
        margin-left: -1px;
        display: none;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        transform: translate(0, 100%);
        background: #101825;
        z-index: 10;
        border-radius: 0 0 17px 17px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        & a {
            color: rgba(255, 255, 255, 0.6);
            &.select {
                color: #fff;
            }
        }
        & li {
            padding: 10px 5px 10px 18px;
            border-top: 1px solid rgba(255, 255, 255, 0.3);
            &:first-child {
                border: none;
            }
        }
    }
    &.active {
        border-radius: 17px 17px 0 0;
        & .city-select__list {
            display: block;
        }
    }
}

.first-screen {
    position: relative;
    height: 850px;
    overflow: hidden;
    &__bg {
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 30.41%),
            linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
        // opacity: 0.4;
        // z-index: -2;
    }
    & img {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }

    &__wrapper {
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__content {
        max-width: 780px;
        position: absolute;
        left: 0;
        top: calc(50% + 104px);
        transform: translate(0, -50%);
    }

    &__title {
        text-transform: uppercase;
        line-height: 130%;
    }
    &__subtitle {
        margin-top: 22px;
        color: #fff;
        & li {
            font-size: 20px;
            line-height: 130%;
        }
    }

    &__btn {
        margin-top: 60px;
        height: 60px;
        width: 170px;
        font-size: 14px;
    }
}

.advantages {
    &__wrapper {
    }
    &__title {
        text-align: center;
    }

    &__content {
        margin-top: 48px;
        display: flex;
        gap: 29px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__marker {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 78px;
        flex: 0 0 78px;
        height: 78px;
        border: 1px solid rgb(221, 224, 237);
        border-radius: 33px;
        &:hover {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    &__text {
        line-height: 130%;
    }
}
.category {
    &__title {
        display: flex;
        justify-content: space-between;
    }

    &__tab-block {
        display: flex;
        gap: 26px;
        position: absolute;
        right: 0;
        top: -48px;
        transform: translate(0, -100%);
    }

    &__text {
        position: relative;
        color: rgba(0, 0, 0, 0.8);
        line-height: 130%;
    }

    &__slider {
        height: 340px;
    }

    &__slide {
        overflow: hidden;
        // z-index: -1;
        border-radius: 16px;
        &_all {
            position: relative;
            background: #eef0fc;
            border: 1px solid #dde0ed;
            & svg {
                height: 40px;
                position: absolute;
                top: 35px;
                left: 28px;
            }
            & .category__slide-title {
                color: #000;
            }
            & .category__slide-subtitle {
                color: rgba(0, 0, 0, 0.7);
            }
        }
        &:hover {
            & .category__slide-title {
                text-decoration: underline;
            }
        }
    }

    &__slide-img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        & img {
            // min-width: 100%;
            height: 100%;
            position: absolute;
            left: -40%;
            z-index: -1;
            filter: brightness(0.6);
        }
    }

    &__slide-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 28px;
        position: relative;
        z-index: 2;
    }

    &__slide-title {
        font-family: "Unbounded";
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__slide-subtitle {
        margin-top: 8px;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.7);
    }
    &__table_mobile {
        display: none;
    }
}
.useful {
    &__title {
        margin: 0 auto;
        text-align: center;
        max-width: 550px;
    }

    &__content {
        margin-top: 60px;
        position: relative;
    }

    &__img {
        width: 100%;
        & img {
            width: 100%;
        }
    }

    &__textblock {
        position: absolute;
        inset: 0;
    }

    &__text {
        position: absolute;
        max-width: 170px;
        font-size: 16px;
        line-height: 130%;
        &:nth-child(1) {
            top: 27%;
            left: 0;
        }
        &:nth-child(2) {
            top: 27%;
            left: 17%;
        }
        &:nth-child(3) {
            top: 85%;
            left: 0;
        }
        &:nth-child(4) {
            top: 85%;
            left: 17%;
        }
        &:nth-child(5) {
            top: 27%;
            left: 69%;
        }
        &:nth-child(6) {
            top: 27%;
            left: 85.5%;
        }
        &:nth-child(7) {
            top: 85%;
            left: 69%;
        }
        &:nth-child(8) {
            top: 85%;
            left: 85.5%;
        }
    }
}

.popular {
    &__title {
        display: flex;
        justify-content: space-between;
    }

    &__tab-block {
        display: flex;
        gap: 20px;
    }

    &__slider {
        padding: 10px !important;
    }
    &__slider-wrapper {
        position: relative;
    }

    &__filter-block {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
}

.product-card {
    padding: 16px;
    position: relative;
    background: #fff;
    border-radius: 16px;
    border: 1px solid #dde0ed;
    &:hover {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    }
    &__header {
        padding: 0 16px;
        position: absolute;
        top: 16px;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 10;
    }

    &__header-info {
        height: 27px;
        padding: 12px;
        border-radius: 30px;
        border: 1px solid #0fb800;
        font-size: 12px;
        color: #0fb800;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__header-btns {
        display: flex;
        gap: 8px;
    }

    &__header-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;

        & svg {
            height: 22px;
        }
        &.select {
            background: #ba0e23;
            & svg {
                & path {
                    stroke: #fff;
                }
            }
        }
    }

    &__img {
        margin-top: 30px;
        width: 100%;
        aspect-ratio: 270/300;
        overflow: hidden;
        & img {
            // width: 100%;
            height: 100%;
        }
    }

    &__info {
        margin-top: 16px;
        // padding: 0 16px;
    }

    &__article {
        font-size: 11px;
        color: #a9a9a9;
    }

    &__title {
        margin-top: 4px;
        line-height: 130%;
    }

    &__price-block {
        margin-top: 13px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__price {
        font-size: 18px;
        font-weight: 500;
        & span {
            color: #00000080;
            font-size: 12px;
            font-weight: 400;
        }
    }

    &__rate {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 12px;
        font-weight: 500;
        & span {
            color: rgba(0, 0, 0, 0.4);
            font-weight: 400;
        }
    }
    &__select {
    }

    &__select-title {
        font-size: 11px;
        color: rgba(0, 0, 0, 0.4);
    }

    &__tab-block {
        margin-top: 8px;
        display: flex;
        gap: 8px;
    }

    &__btn {
        margin-top: 19px;
        height: 40px;
        font-size: 12px;
    }
    &__btn-block {
        margin-top: 16px;
    }
}

@import "media";
