@import "res";
@import "mixin"; //@include font(ff, filename, fw);

@include font(Unbounded, Unbounded-Medium, 500);
@include font(SF UI Display, SFUIDisplay-Regular, 400);
@include font(SF UI Display, SFUIDisplay-Medium, 500);
@include font(Lato, Lato-Bold, 600);

body {
    font-family: "SF UI Display";
    font-size: 16px;
    color: #000;
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    overflow-y: auto;
    // temp
}
.container {
    margin: 0 auto;
    height: 100%;
    max-width: 1170px;
    width: 100%;
}
.bg {
    &_blue {
        background: #101825;
        line-height: 130%;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 42px;
    text-transform: uppercase;
    color: #fff;
    background: #ee2d45;
    cursor: pointer;
    &__red-shadow {
        background: var(--Primary-2, #ee2d45);
        box-shadow: 0px 0px 15px 0px rgba(186, 14, 35, 0.3);
    }
    &:hover {
        background: #ba0e23;
    }
    &_white {
        color: #000;
        height: 50px;
        width: fit-content;
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        font-weight: 400;
        font-family: "SF UI Display";
        height: 50px;
        border: 1px solid #ee2d45;
        border-radius: 27px;
        cursor: pointer;
        background: #fff;
        &:hover {
            color: #fff;
            background: #ee2d45;
        }
    }
}
.title {
    font-family: "Unbounded";
    color: #000;
    font-size: 42px;
    &__white {
        color: #fff;
    }
    &_small {
        font-family: "Unbounded";
        color: #000;
        font-size: 32px;
        font-weight: 500;
    }
}
.subtitle {
    margin-top: 48px;
    &_text {
        margin-top: 24px;
    }
}
.section {
    padding: 60px 0;
    &_white {
        background: #fff;
    }
    &_grey {
        background: #f7f8ff;
    }
    &_dark {
        background: #101825;
    }
}
.text {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 130%;
}

.slider {
    &__wrapper {
        position: relative;
    }

    &__btn-prev,
    &__btn-next {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 50%;
        border-radius: 18px;
        border: 1px solid #dde0ed;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 5;
        background: rgba(255, 255, 255, 0.1);
        & svg {
            width: 20px;
            flex: 0 0 20px;
        }
        &.swiper-button-disabled {
            opacity: 0.5;
        }
    }
    &__btn-prev {
        left: -40px;
        transform: translate(-100%, -50%);
    }

    &__btn-next {
        right: -40px;
        transform: translate(100%, -50%) rotate(180deg);
    }
    &__pagination {
    }
}
.tabs {
    & input {
        position: absolute;
        z-index: -1;
        visibility: hidden;
    }
    & label {
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        font-weight: 400;
        font-family: "SF UI Display";
        height: 50px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 27px;
        cursor: pointer;
        background: #fff;
    }
    & input:checked + label {
        border: 1px solid #ee2d45;
    }
    &_small {
        & label {
            padding: 0 12px;
            font-size: 12px;
            height: 27px;
        }
    }
}
.header {
    position: relative;
    &__main {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__main-wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__main-menu-block {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 22px;
    }

    &__main-search {
        height: 28px;
        cursor: pointer;
        & svg {
            height: 100%;
        }
    }

    &__main-menu {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 36px;
        & a {
            color: #fff;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__main-city-select {
        height: 34px;
        width: 200px;
        padding: 0 18px;
        position: relative;
        border-radius: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        display: flex;
        align-items: center;

        & svg {
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translate(0, -50%);
        }
    }
    &__search-panel {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(0, 100%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 23px;
        overflow: hidden;
        max-height: 0;
        background: #101825;
        z-index: 20;
        border-radius: 0 0 25px 25px;
        &.active {
            max-height: 50px;
            padding: 6px 20px;
        }
    }
    &__search-input-block {
        position: relative;
        & input {
            padding: 0 38px 0 12px;
            width: 258px;
            height: 30px;
            background: transparent;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 40px;
            color: #fff;
        }
        & svg {
            height: 22px;
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translate(0, -50%);
        }
    }
    &__search-cancel {
        color: #fff;
        font-size: 11px;
        display: none;
    }

    &__bottom {
        height: 104px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &.transparent {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translate(0, 100%);
            z-index: 3;
            & .header__contacts-title {
                color: #ffffff80;
            }
            & .header__contacts-item {
                color: #ffffff;
            }

            & .header__contacts-btn {
                border: 1px solid rgba(255, 255, 255, 0.3);
                & div {
                    aspect-ratio: 1/1;
                    height: 4px;
                    background: #fff;
                    border-radius: 50%;
                }
            }
            & .header__btns-item {
                & path {
                    stroke: #fff;
                    fill: #fff;
                }
                &:nth-child(2),
                &:nth-child(3) {
                    & path {
                        // stroke: #fff;
                        fill: transparent;
                    }
                }
            }
            & .burger-btn,
            & .header__call_mobile {
                border: 1px solid rgba(255, 255, 255, 0.2);
                & svg {
                    & path {
                        fill: #fff;
                    }
                }
            }
        }
    }
    &__bottom-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        height: 50px;
        & img {
            height: 100%;
        }
    }

    &__bottom-right {
        display: flex;
        align-items: center;
        gap: 83px;
        &_mobile {
            display: none;
            gap: 6px;
        }
    }

    &__contacts {
        height: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
    }

    &__contacts-title {
        font-size: 14px;
        color: #00000080;
    }

    &__contacts-item {
        font-size: 20px;
        display: flex;
        gap: 8px;
    }

    &__contacts-btn {
        padding: 0 8px;
        width: 34px;
        height: 18px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: space-between;
        align-items: center;
        & div {
            aspect-ratio: 1/1;
            height: 4px;
            background: #000;
            border-radius: 50%;
        }
    }

    &__btns-line {
        height: 39px;
        display: flex;
        align-items: center;
        gap: 16px;
        &_top {
            display: none;
            height: 22px;
            & svg {
                & path {
                    stroke: #fff;
                    fill: #fff;
                }
            }
            & .header__btns-item {
                & svg {
                    height: 22px !important;
                }
                &:nth-child(1) {
                    & svg {
                        height: 16px !important;
                    }
                }
                &:nth-child(2),
                &:nth-child(3) {
                    & path {
                        fill: transparent;
                    }
                }
            }
            & .header__cart-marker {
                top: -3px;
                right: 4px;
                height: 12px;
                width: 12px;
                font-size: 6px;
            }
        }
    }

    &__btns-item {
        & svg {
            height: 100%;
        }
        & path {
            stroke: #000;
            fill: #000;
        }
        &:nth-child(2),
        &:nth-child(3) {
            & path {
                fill: transparent;
            }
        }
    }

    &__cart {
        position: relative;
    }

    &__cart-marker {
        display: none;
        position: absolute;
        top: -5px;
        right: -5px;
        width: 20px;
        height: 20px;
        background: #ee2d45;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        font-weight: 500;
        color: #fff;
        &.active {
            display: flex;
        }
    }
}
.burger-btn,
.header__call_mobile {
    width: 40px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    & svg {
        height: 20px;
        & path {
            fill: #000;
        }
    }
}
.burger-btn {
    & svg {
        height: 14px;
    }
}

.city-select {
    cursor: pointer;
    &__title {
        color: #fff;
    }
    &__list {
        box-sizing: content-box;
        margin-left: -1px;
        display: none;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        transform: translate(0, 100%);
        background: #101825;
        z-index: 10;
        border-radius: 0 0 17px 17px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        & a {
            color: rgba(255, 255, 255, 0.6);
            &.select {
                color: #fff;
            }
        }
        & li {
            padding: 10px 5px 10px 18px;
            border-top: 1px solid rgba(255, 255, 255, 0.3);
            &:first-child {
                border: none;
            }
        }
    }
    &.active {
        border-radius: 17px 17px 0 0;
        & .city-select__list {
            display: block;
        }
    }
}

.first-screen {
    position: relative;
    height: 850px;
    overflow: hidden;
    &__bg {
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 30.41%),
            linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
        // opacity: 0.4;
        // z-index: -2;
    }
    & img {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }

    &__wrapper {
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__content {
        max-width: 780px;
        position: absolute;
        left: 0;
        top: calc(50% + 104px);
        transform: translate(0, -50%);
    }

    &__title {
        text-transform: uppercase;
        line-height: 130%;
    }
    &__subtitle {
        margin-top: 22px;
        color: #fff;
        & li {
            font-size: 20px;
            line-height: 130%;
        }
    }

    &__btn {
        margin-top: 60px;
        height: 60px;
        width: 170px;
        font-size: 14px;
    }
}

.advantages {
    &__wrapper {
    }
    &__title {
        text-align: center;
        &_about {
            text-align: start;
        }
    }
    &__text-block {
        & p {
            margin-bottom: 16px;
        }
    }

    &__content {
        margin-top: 48px;
        display: flex;
        gap: 29px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__marker {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 78px;
        flex: 0 0 78px;
        height: 78px;
        border: 1px solid rgb(221, 224, 237);
        border-radius: 33px;
        &:hover {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    &__text {
        line-height: 130%;
    }
}
.category {
    &__title {
        display: flex;
        justify-content: space-between;
    }

    &__tab-block {
        display: flex;
        gap: 26px;
        position: absolute;
        right: 0;
        top: -48px;
        transform: translate(0, -100%);
    }

    &__text {
        position: relative;
        color: rgba(0, 0, 0, 0.8);
        line-height: 130%;
    }

    &__slider {
        height: 340px;
    }

    &__slide {
        overflow: hidden;
        // z-index: -1;
        border-radius: 16px;
        &_all {
            position: relative;
            background: #eef0fc;
            border: 1px solid #dde0ed;
            & svg {
                height: 40px;
                position: absolute;
                top: 35px;
                left: 28px;
            }
            & .category__slide-title {
                color: #000;
            }
            & .category__slide-subtitle {
                color: rgba(0, 0, 0, 0.7);
            }
        }
        &:hover {
            & .category__slide-title {
                text-decoration: underline;
            }
        }
    }

    &__slide-img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        & img {
            // min-width: 100%;
            height: 100%;
            position: absolute;
            left: -40%;
            z-index: -1;
            filter: brightness(0.6);
        }
    }

    &__slide-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 28px;
        position: relative;
        z-index: 2;
    }

    &__slide-title {
        font-family: "Unbounded";
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__slide-subtitle {
        margin-top: 8px;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.7);
    }
    &__table_mobile {
        display: none;
    }
}
.useful {
    &__title {
        margin: 0 auto;
        text-align: center;
        max-width: 550px;
    }

    &__content {
        margin-top: 60px;
        position: relative;
    }

    &__img {
        width: 100%;
        & img {
            width: 100%;
        }
    }

    &__textblock {
        position: absolute;
        inset: 0;
    }

    &__text {
        position: absolute;
        max-width: 170px;
        font-size: 16px;
        line-height: 130%;
        &:nth-child(1) {
            top: 27%;
            left: 0;
        }
        &:nth-child(2) {
            top: 27%;
            left: 17%;
        }
        &:nth-child(3) {
            top: 85%;
            left: 0;
        }
        &:nth-child(4) {
            top: 85%;
            left: 17%;
        }
        &:nth-child(5) {
            top: 27%;
            left: 69%;
        }
        &:nth-child(6) {
            top: 27%;
            left: 85.5%;
        }
        &:nth-child(7) {
            top: 85%;
            left: 69%;
        }
        &:nth-child(8) {
            top: 85%;
            left: 85.5%;
        }
    }
}
.article,
.popular,
.promo {
    padding-bottom: 35px;
    &__title {
        display: flex;
        justify-content: space-between;
    }

    &__tab-block {
        display: flex;
        gap: 20px;
    }

    &__slider {
        padding: 10px !important;
    }
    &__slider-wrapper {
        position: relative;
    }

    &__filter-block {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        &.tabs {
            & label {
                background: #f0f2fc;
            }
        }
    }
    &__table_mobile {
        display: none;
    }
}
.article {
    &__wrapper {
        position: relative;
    }
    &__btn {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.product-card {
    height: 100%;
    // padding: 16px;
    position: relative;
    background: #fff;
    border-radius: 16px;
    border: 1px solid #dde0ed;
    overflow: hidden;
    &:hover {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    }
    &__header {
        padding: 0 16px;
        position: absolute;
        top: 16px;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 10;
    }

    &__header-info {
        height: 27px;
        padding: 12px;
        border-radius: 30px;
        border: 1px solid #0fb800;
        font-size: 12px;
        color: #0fb800;
        display: flex;
        align-items: center;
        gap: 8px;
        &_promo {
            color: #ee2d45;
            border-color: #ee2d45;
        }
    }

    &__header-btns {
        display: flex;
        gap: 8px;
    }

    &__header-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;

        & svg {
            height: 22px;
        }
        &.select {
            background: #ba0e23;
            & svg {
                & path {
                    stroke: #fff;
                }
            }
        }
    }

    &__img {
        margin-top: 30px;
        width: 100%;
        aspect-ratio: 270/300;
        overflow: hidden;
        & img {
            // width: 100%;
            height: 100%;
        }
    }

    &__info {
        padding: 0 16px;
        margin-top: 16px;
        // padding: 0 16px;
    }

    &__article {
        font-size: 11px;
        color: #a9a9a9;
    }

    &__title {
        margin-top: 4px;
        line-height: 130%;
    }

    &__subtitle {
        width: 80%;
        margin-top: 4px;
        line-height: 112%;
        font-size: 11px;
        color: rgba(0, 0, 0, 0.4);
    }

    &__price-block {
        margin-top: 13px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__price {
        font-size: 18px;
        font-weight: 500;
        & span {
            color: #00000080;
            font-size: 12px;
            font-weight: 400;
        }
    }

    &__rate {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 12px;
        font-weight: 500;
        & span {
            color: rgba(0, 0, 0, 0.4);
            font-weight: 400;
        }
    }
    &__select {
    }

    &__select-title {
        font-size: 11px;
        color: rgba(0, 0, 0, 0.4);
    }

    &__tab-block {
        margin-top: 8px;
        display: flex;
        gap: 8px;
    }

    &__btn {
        margin-top: 19px;
        height: 40px;
        font-size: 12px;
        &_promo {
            color: #000;
            text-transform: none;
            background: #fff;
            border: 1px solid #ee2d45;
            &:hover {
                background: #ee2d45;
                color: #fff;
            }
        }
    }
    &__btn-block {
        padding: 0 16px;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    &_promo {
        height: auto !important;
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        & .product-card__img {
            margin: 0;
            aspect-ratio: 270/330;
        }
        & .product-card__info {
        }
        & .product-card__btn-block {
        }
    }
}

.banner {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__item {
        padding: 21px 30px;
        background: #417d47;
        border-radius: 16px;
        flex: 0 0 calc(50% - 15px);
    }

    &__title {
        font-family: "Unbounded";
        color: #fff;
        font-size: 24px;
        font-weight: 500;
    }

    &__text {
        margin-top: 12px;
        color: rgba(255, 255, 255, 0.7);
        line-height: 130%;
    }

    &__lable-block {
        margin-top: 28px;
        display: flex;
        gap: 10px;
    }

    &__lable {
        background: #fff;
        height: 40px;
        width: 100px;
        border-radius: 16px;
        overflow: hidden;
        position: relative;
        & img {
            width: 60%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &_ruspost {
            & img {
                width: 90%;
            }
        }
        &_sdek {
            & img {
                width: 80%;
            }
        }
    }
}

.mycompany {
    &__wrapper {
        display: flex;
        gap: 100px;
    }
    &__img {
        position: relative;
        flex: 0 0 40%;
        border-radius: 16px;
        overflow: hidden;
        aspect-ratio: 470/340;
        & img {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    &__content {
    }

    &__title {
        max-width: 370px;
        color: #fff;
        &_blog {
            max-width: 520px;
        }
    }

    &__text {
        margin-top: 26px;
        line-height: 130%;
        color: #ffffff80;
        & p:not(:first-child) {
            margin-top: 20px;
        }
    }
}

.license,
.procedure {
    &__wrapper {
        width: 100%;
        display: flex;
        gap: 20px;
    }

    &__title {
    }

    &__text {
        margin-top: 24px;
    }

    &__slider-wrapper {
        padding: 0 90px;
        min-width: 0;
        position: relative;
        flex: 0 0 50%;
        // flex: 0 0 50%;
    }

    &__btn-prev {
        left: 60px;
    }

    &__btn-next {
        right: 60px;
    }
    &__pagination {
        display: none;
    }

    &__slider {
    }

    &__slide {
        & img {
            width: 100%;
        }
    }
}
.procedure {
    &__slider-wrapper {
        padding: 0 90px;
        min-width: 0;
        position: relative;
        flex: 0 0 60%;
        // flex: 0 0 50%;
    }
    &__slide {
        &-img {
            aspect-ratio: 267/170;
            overflow: hidden;
            border-radius: 16px;
            & img {
                width: 100%;
            }
        }
        &-content {
            margin-top: 29px;
        }
        &-title {
            display: inline-flex;
            font-family: "Unbounded";
            line-height: 130%;
        }
        &-text {
            margin-top: 8px;
        }
    }
}

.big-banner {
    &__wrapper {
        border-radius: 16px;
        display: flex;
        gap: 24px;
        background: linear-gradient(0deg, #417d47 0%, #417d47 100%),
            radial-gradient(
                55.53% 106.43% at 111.18% -1436.43%,
                rgba(167.71, 255, 165.92, 0.5) 0%,
                rgba(181.12, 255, 123.08, 0) 100%
            );
        overflow: hidden;
    }

    &__img {
        flex: 0 0 35%;
        position: relative;
        overflow: hidden;
        & img {
            position: absolute;
            top: -35%;
            left: -60%;
            width: 200%;
            transform: scaleX(-1);
        }
    }

    &__content {
        padding: 40px 100px 40px 0;
    }

    &__title {
        font-size: 36px;
        color: #fff;
    }

    &__text {
        margin-top: 16px;
        color: rgba(255, 255, 255, 0.8);
    }

    &__contacts {
        margin-top: 24px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__tel {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__icon {
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #0fb800;
        border-radius: 50%;
    }

    &__tel-number {
        font-size: 16px;
        color: #fff;
        font-weight: 500;
    }

    &__btn {
        height: 40px;
        padding: 0 40px;
    }
}
.about {
    &__title {
    }
    &__wrapper {
        position: relative;
    }

    &__subtitle {
        margin-top: 24px;
    }

    &__slider {
        position: relative;
        margin-top: 65px;
    }

    &__slide {
        height: auto !important;
        padding: 25px;
        // aspect-ratio: 27/30;
        background: #fff;
        border-radius: 5px;
    }

    &__slide-title {
        display: flex;
        gap: 11px;
    }

    &__slide-avatar {
        width: 40px;
        height: 40px;
        flex: 0 0 40px;
        border-radius: 50%;
        overflow: hidden;
        & img {
            height: 100%;
        }
    }

    &__slide-title-info {
    }

    &__slide-name {
        font-size: 20px;
        font-weight: 700;
        line-height: 130%;
    }

    &__slide-date {
        font-size: 12px;
        color: var(--font-color-grey);
        margin-top: 2px;
        line-height: 130%;
    }
    &__rating {
        margin-top: 13px;
        display: flex;
        gap: 5px;
    }
    &__rating-star {
        & svg {
            opacity: 0.4;
        }
        &.active {
            & svg {
                opacity: 1;
            }
        }
    }
    &__slide-comment {
        margin-top: 28px;
    }
    &__pagination {
        display: none;
        // bottom: 30px !important;
        // left: 50% !important;
        // transform: translate(-50%, 0);
        // & .swiper-pagination-bullet {
        //     background: #a9a9a9;
        // }
    }
    &__btn {
        position: absolute;
        top: 0;
        right: 0;
    }
}
.galery {
    &__wrapper {
    }
    &__title {
    }
    &__text {
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
    }
    &__item {
        border-radius: 16px;
        overflow: hidden;
        &:first-child {
            grid-area: 1 /1 / 3 / 3;
        }
        & img {
            width: 100%;
            height: 100%;
        }
    }

    &__btn {
        margin: 48px auto 0;
    }
}
.questions {
    height: max-content;
    overflow: auto;
    & .container {
        overflow: auto;
    }
    &__title {
        // padding-top: 60px;
    }

    &__text {
        margin-top: 20px;
    }

    &__accordeon {
        margin-top: 65px;
        margin-bottom: 75px;
        background: #fff;
        border-radius: 5px;
        border: 1px solid #d9d9d9;
        border-radius: 16px;
    }

    &__item {
        position: relative;
        &:not(:first-child) {
            border-top: 1px solid #d9d9d9;
        }
    }

    &__item-title {
        padding: 30px 100px 30px 40px;
        font-family: "Unbounded";
        position: relative;
        font-size: 18px;
        z-index: 1;
        cursor: pointer;
    }

    &__item-btn {
        width: 24px;
        aspect-ratio: 1/1;
        position: absolute;
        right: 40px;
        top: 29px;
        cursor: pointer;
        transform: rotate(45deg);
        transition: transform 0.3s;
        &.hide {
            transform: rotate(0deg);
        }
        & div:nth-child(1) {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            width: 100%;
            height: 2px;
            border-radius: 1px;
            background: #000;
        }
        & div:nth-child(2) {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            width: 2px;
            height: 100%;
            background: #000;
        }
    }

    &__answer-wrapper {
        overflow: hidden;
        // max-height: 100px;
        &.hide {
            max-height: 0px;
        }
    }

    &__answer {
        margin: 10px 100px 30px 40px;
    }
}

.article-card {
    overflow: hidden;
    border-radius: 16px;
    background: #fff;
    border: 1px solid #dde0ed;
    &__img {
        overflow: hidden;
        aspect-ratio: 270/190;
        & img {
            min-height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__date {
        margin: 16px 0 0 16px;
        padding: 4px 12px;
        font-size: 12px;
        border-radius: 30px;
        border: 1px solid #dde0ed;
        width: fit-content;
    }

    &__content {
        padding: 0 16px;
    }

    &__title {
        margin-top: 12px;
        font-family: "Unbounded";
        font-size: 16px;
    }

    &__text {
        margin-top: 16px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        line-height: 1.3em;
        height: 5.2em;
    }
    &__link {
        display: inline-block;
        margin: 16px 0 19px 16px;
        font-size: 14px;
        color: #1a8fe9;
    }
}
.map {
    &__mobile {
        display: none;
    }
    &__desktop {
        height: 100%;
    }
    &__wrapper {
        position: relative;

        width: 100%;
        height: 520px;
    }
    & iframe {
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    &__description {
        position: absolute;
        z-index: 1;
        background: #fff;
        left: 50%;
        top: 50%;
        transform: translate(-100%, -50%);
        border-radius: 16px;
        border: 1px solid var(--line-color);
        box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.25);

        & .container {
            position: relative;
            height: 100%;
        }
    }
    &__v-line {
        position: absolute;
        z-index: 3;
        top: 0;
        height: 520px;
        width: 1px;
        background: var(--line-color);
        &:nth-child(1) {
            left: calc(50% - 625px);
        }
        &:nth-child(2) {
            right: calc(50% - 625px);
        }
    }

    &__info-block {
        padding: 42px 50px;
    }

    &__info-title {
        font-family: "Unbounded", sans-serif;
        font-size: 32px;
        color: #212224;
    }

    &__grid {
        // margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 37px;
        row-gap: 34px;
        border-radius: 16px;
        overflow: hidden;
    }

    &__grid-block {
        padding-left: 20px;
    }

    &__grid-title {
        position: relative;
        font-size: 14px;
        color: #07243f80;
        line-height: 130%;
        & svg {
            height: 14px;
            position: absolute;
            top: 50%;
            left: -10px;
            transform: translate(-100%, -50%);
        }
        &_social {
            margin-top: 30px;
        }
    }
    &__social-line {
        margin-top: 10px;
        display: flex;
        gap: 12px;
    }
    &__social-item {
        height: 32px;
        width: 32px;
        border-radius: 12px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__grid-info {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        // gap: 5px;
        max-width: 210px;
        line-height: 130%;
        font-size: 16px;
        & a {
            color: var(--font-color-red);
            line-height: 130%;
        }
    }
}
.support {
    &__title {
        text-align: center;
    }

    &__text {
        margin: 20px auto 0;
        max-width: 640px;
        text-align: center;
    }

    &__btn {
        padding: 0 54px;
        margin: 40px auto 0;
        width: fit-content;
        height: 60px;
    }
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    background: #0000008f;
    &__window {
        width: 650px;
        padding: 60px 90px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        border-radius: 16px;
    }
    &.active {
        display: block;
    }

    &__title {
        font-size: 36px;
    }

    &__subtitle {
        margin-top: 8px;
        max-width: 300px;
    }

    &__form {
        margin-top: 40px;
    }

    &__input-block {
        margin-top: 20px;
        & input {
            padding: 0 20px;
            margin-top: 16px;
            height: 60px;
            width: 100%;
            border: 1px solid rgba(19, 43, 58, 0.2);
            border-radius: 16px;
        }
    }

    &__input-title {
        font-size: 14px;
    }
    &__btn {
        margin-top: 32px;
        height: 60px;
        width: 100%;
    }
}

.footer {
    padding: 38px 0 25px;
    &__top {
        padding-bottom: 72px;
        border-bottom: 1px solid rgba(217, 217, 217, 0.4);
    }
    &__top-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 120px;
    }

    &__logo-block {
    }

    &__logo {
        height: 46px;
        & img {
            height: 100%;
        }
    }

    &__pay {
        margin-top: 27px;
    }

    &__pay-title {
        font-family: "Lato";
        font-weight: 600;
        font-size: 18px;
        color: #fff;
    }

    &__pay-systems {
        margin-top: 15px;
        display: flex;
        gap: 6px;
    }

    &__pay-item {
        position: relative;
        height: 26px;
        width: 67px;
        border: 1px solid rgba(238, 243, 247, 0.2);
        border-radius: 12px;
        overflow: hidden;
        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
        }
        &:nth-child(2) {
            & img {
                width: auto;
                height: 110%;
            }
        }
    }

    &__content {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 70px;
    }

    &__content-section {
    }

    &__content-title {
        font-family: "Lato";
        font-weight: 600;
        font-size: 18px;
        color: #fff;
    }

    &__conent-list {
        margin-top: 32px;
        & a {
            font-size: 14px;
            line-height: 130%;
            color: #ffffff80;
            &:hover {
                color: rgba(255, 255, 255, 0.7);
            }
        }
        & li {
            margin-bottom: 8px;
        }
    }

    &__contacts {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 39px;
        row-gap: 16px;
    }

    &__contacts-section {
    }

    &__contacts-title {
        margin-bottom: 8px;
        color: #fff;
        font-size: 14px;
    }

    &__contacts-list {
        & li {
            margin-bottom: 8px;
            color: #ffffff80;
            font-size: 14px;
            line-height: 130%;
        }
        & a {
            font-size: 14px;
            line-height: 130%;
            color: #ffffff80;
            &:hover {
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }

    &__contacts-addres {
    }

    &__bottom {
        padding-top: 26px;
    }
    &__bottom-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__bottom-left {
        color: #ffffff80;
        font-size: 14px;
        line-height: 130%;
    }

    &__bottom-right {
    }

    &__social-line {
        display: flex;
        justify-content: flex-end;
        gap: 12px;
    }

    &__social-item {
        width: 33px;
        height: 32px;
        border-radius: 12px;
        border: 1px solid rgba(238, 243, 247, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__social {
        &_vk {
        }

        &_youtube {
        }

        &_dzen {
        }

        &_taplink {
        }
    }
    &__rights {
        margin-top: 19px;
        color: #ffffff80;
        font-size: 14px;
        line-height: 130%;
    }
}
.nav-line {
    padding-top: 30px;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        & a {
            font-size: 14px;
            color: #00000080;
            &::after {
                content: ">";
                margin: 0 14px;
            }
        }
        & span {
            font-size: 14px;
            color: #ee2d45;
        }
        &_last {
        }
    }
}
.about-presentation {
    &__wrapper {
    }

    &__title {
    }

    &__content-grid {
        display: flex;
        gap: 20px;
    }

    &__text-block {
        & p {
            margin-bottom: 16px;
        }
        & ul {
            margin-top: 24px;
        }
        & li {
            margin-top: 16px;
            display: flex;
            align-items: center;
            gap: 12px;
            & svg {
                align-self: start;
                flex: 0 0 24px;
                width: 24px;
            }
        }
    }

    &__img {
        flex: 0 0 490px;
        overflow: hidden;
        & img {
            border-radius: 16px;

            width: 100%;
            // min-height: 100%;
        }
    }
}
.team {
    &__wrapper {
        display: flex;
        // justify-content: stretch;

        gap: 57px;
    }

    &__content {
        flex: 0 0 40%;
    }

    &__title {
    }

    &__subtitle {
    }

    &__btn {
        margin-top: 24px;
        height: 60px;
        width: 210px;
    }

    &__grid-wrapper {
        flex: 1 1 auto;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 32px;
        column-gap: 16px;
    }

    &__grid-item {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__grid-item:nth-child(2),
    &__grid-item:nth-child(3),
    &__grid-item:nth-child(6) {
        & img {
            transform: translate(0, -10%);
        }
    }
    &__grid-item:nth-child(4) {
        & img {
            width: auto;
            transform: translate(-33%, -20%);
            height: 180%;
        }
    }

    &__grid-ava {
        height: 72px;
        width: 72px;
        flex: 0 0 72px;
        overflow: hidden;
        border-radius: 50%;
        & img {
            width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
    }

    &__grid-content {
    }

    &__grid-name {
        line-height: 126%;
    }
    &__grid-post {
        font-size: 14px;
        line-height: 180%;
        color: #00000080;
    }
}
.blog-recent {
    padding-bottom: 50px;
    border-bottom: 1px solid #dde0ed;
    &__title {
        font-family: "Unbounded";
        font-weight: 500;
        font-size: 32px;
    }
    &__wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 38% 60%;
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
    }
    &__item {
        border-radius: 16px;
        grid-area: "long";
        display: flex;
        align-items: center;
        gap: 16px;
        overflow: hidden;
        background: #fff;
        border: 1px solid #dde0ed;
        &_big {
            position: relative;
            grid-area: 1/1/3/2;
        }
    }

    &__item-bg {
        position: absolute;
        inset: 0;
        overflow: hidden;
        & img {
            height: 100%;
            min-width: 100%;
        }
    }

    &__item-content {
        padding: 16px 13px 16px 0;
        &_big {
            height: 100%;
            padding: 40px;
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: end;
            color: #fff;
            & .blog-recent__item-link {
                margin-top: 16px;
                color: #fff;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    &__item-date {
        width: fit-content;
        border: 1px solid #dde0ed;
        border-radius: 30px;
        padding: 4px 12px;
        background: #fff;
        color: #000;
        font-size: 12px;
    }

    &__item-title {
        margin-top: 13px;
        font-family: "Unbounded";
        font-size: 16px;
        line-height: 130%;
        max-width: 350px;
    }
    &__item-subtitle {
        font-size: 14px;

        margin-top: 10px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1.3em;
        height: 2.6em;
    }

    &__item-link {
        margin-top: 14px;
        font-size: 14px;
        color: #1a8fe9;
    }

    &__item-img {
        position: relative;
        flex: 0 0 270px;
        height: 100%;
        overflow: hidden;
        & img {
            position: absolute;
            width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
    }
}
.all-article {
    &__title {
        font-family: "Unbounded";
        font-size: 32px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
    &__btn {
        height: 60px;
        width: 214px;
    }
}
.single-article {
    padding-top: 25px;
    padding-bottom: 0;
    &__info {
        display: flex;
        align-items: center;
        gap: 14px;
    }

    &__date {
        padding: 4px 12px;
        background: #fff;
        border: 1px solid #dde0ed;
        border-radius: 30px;
        font-size: 12px;
    }

    &__read-time {
        font-size: 12px;
        color: #1a8fe9;
    }

    &__preface {
        display: flex;
        gap: 20px;
    }

    &__content {
        & li {
            margin-top: 16px;
            display: flex;
            align-items: center;
            gap: 12px;
            & svg {
                align-self: start;
                flex: 0 0 24px;
                width: 24px;
            }
        }
    }

    &__title {
    }

    &__text {
    }

    &__img {
        width: 478px;
        flex: 0 0 478px;
        overflow: hidden;
        & img {
            width: 100%;
            object-fit: cover;
            border-radius: 16px;
        }
    }
}
.paragraph {
    padding-top: 34px;

    &__title {
    }

    &__content {
        & p {
            margin-top: 16px;
        }
        & li {
            margin-top: 16px;
            display: flex;
            align-items: center;
            gap: 12px;
            & svg {
                align-self: start;
                flex: 0 0 24px;
                width: 24px;
            }
        }
    }
}
.line {
    padding-top: 30px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #dde0ed;
}

.tags {
    padding: 30px 0 24px;
    &__wrapper {
        width: 100%;
        display: flex;
        gap: 90px;
    }

    &__block {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    &__item {
        width: fit-content;
        height: 40px;
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: 400;
        font-family: "SF UI Display";
        border: 1px solid #dde0ed;
        border-radius: 27px;
        white-space: nowrap;
        cursor: pointer;
        background: #f0f2fc;
        &:hover {
            background: #dde0ed;
        }
    }

    &__repost {
    }

    &__repost-title {
        white-space: nowrap;
    }

    &__repost-socials {
        margin-top: 12px;
        display: flex;
        gap: 10px;
        & svg {
            width: 28px;
        }
    }
}
.person-banner {
    &__wrapper {
        height: 95px;
        padding: 15px 20px;
        border-radius: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #dddddd;
        background: #fff;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    }

    &_avatar {
        position: relative;
        height: 65px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        overflow: hidden;
        & img {
            height: 110%;
            position: absolute;
            top: -10%;
            left: 50%;
            transform: translate(-50%, 0) scaleX(-1);
        }
    }

    &__person {
        margin-right: 25px;
        display: flex;
        align-items: center;
        gap: 14px;
    }

    &__person-info {
    }

    &__name {
        font-family: "Unbounded";
        padding-right: 25px;
        position: relative;
        font-size: 20px;
        line-height: 92%;
        letter-spacing: -0.01em;
        white-space: nowrap;

        & svg {
            position: absolute;
            right: 0;
            top: 40%;
            transform: translate(0, -50%);
            height: 100%;
        }
    }

    &__description {
        margin-top: 6px;
        font-size: 14px;
        line-height: 92%;
        letter-spacing: -0.01em;
        color: #2323238f;
    }

    &__phone {
        height: 100%;
        padding: 0 27px;
        display: flex;
        align-items: center;
        gap: 14px;
    }

    &__phone-logo {
        width: 37px;
        aspect-ratio: 1/1;
        border: 1px solid #66666633;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        & img {
            width: 12px;
            height: 12px;
        }
    }
    &__subtitle {
        font-size: 14px;
        max-width: 350px;
    }

    &__phone-text {
        font-weight: 500;
        font-size: 20px;
        color: #070f14;
        white-space: nowrap;
    }

    &__btn-block {
        display: flex;
        align-items: center;
        gap: 11px;
    }

    &__btn {
        padding: 20px 22px;
        border: 2px solid #dddddd;
        font-size: 12px;
        white-space: nowrap;
    }
}
.next-articles {
    padding: 30px 0 70px;
    &__wrapper {
        display: flex;
        gap: 10%;
    }
    &__block {
    }

    &__item {
        height: 200px;
        margin-top: 34px;
        border-radius: 16px;
        grid-area: "long";
        display: flex;
        align-items: center;
        gap: 16px;
        overflow: hidden;
        background: #fff;
        border: 1px solid #dde0ed;
    }

    &__title {
    }

    &__item-img {
        position: relative;
        flex: 0 0 225px;
        width: 225px;
        height: 100%;
        overflow: hidden;
        & img {
            position: absolute;
            width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
    }

    &__item-content {
        height: fit-content;
        padding: 16px 13px 16px 0;
    }

    &__item-date {
        width: fit-content;
        border: 1px solid #dde0ed;
        border-radius: 30px;
        padding: 4px 12px;
        background: #fff;
        color: #000;
        font-size: 12px;
    }

    &__item-title {
        margin-top: 13px;
        font-family: "Unbounded";
        font-size: 16px;
        line-height: 130%;
        max-width: 350px;
    }

    &__item-subtitle {
        font-size: 14px;
        margin-top: 10px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1.3em;
        height: 2.6em;
    }

    &__item-link {
        display: inline-block;
        margin-top: 14px;
        font-size: 14px;
        color: #1a8fe9;
    }
}
.contacts {
    &__title {
        padding-top: 30px;
    }

    &__content {
        margin-top: 40px;
        display: flex;
        gap: 50px;
    }
    &__grid {
        flex: 0 0 47%;
        padding: 43px;
        background: #fff;
        border: 1px solid rgba(217, 217, 217, 0.4);
    }
    &__map {
        border-radius: 16px;
        overflow: hidden;
        flex: 0 0 47%;
        & iframe {
            height: 100%;
            width: 100%;
        }
    }
}
.contact-info {
    padding-bottom: 0;
    &__title {
    }

    &__content {
        & p {
            margin-top: 16px;
        }
        & li {
            margin-top: 14px;
        }
        & span {
            color: rgba(0, 0, 0, 0.35);
        }
    }
}
.order {
    &__wrapper {
        display: flex;
    }

    &__img {
        position: relative;
        border-radius: 16px;
        overflow: hidden;
        flex: 0 0 38%;
        & img {
            width: 100%;
            position: absolute;
            width: auto;
            height: 100%;
            top: 0;
            left: 10%;
            transform: translate(-50%, 0);
        }
    }
    &__text {
        margin-top: 14px;
    }

    &__form {
        background: #fff;
        padding: 30px 30px 30px 48px;
        flex: 1 0 52%;
    }

    &__form-title {
        font-size: 22px;
    }

    &__subtitle {
        margin-top: 10px;
    }

    &__input-block {
        margin-top: 26px;
        & input {
            margin-top: 9px;
            padding: 17px;
            height: 50px;
            width: 100%;
            border: 1px solid rgba(19, 43, 58, 0.2);
            border-radius: 16px;
            background: #f7f8ff;
            font-size: 16px;
            &::placeholder {
                font-size: 15px;
            }
        }
        & textarea {
            padding: 14px 17px;
            margin-top: 10px;
            resize: none;
            width: 100%;
            height: 124px;
            border: 1px solid rgba(19, 43, 58, 0.2);
            border-radius: 16px;
            background: #f7f8ff;
            font-size: 16px;
        }
    }

    &__input-title {
        font-size: 16px;
    }
    &__btn {
        height: 60px;
        margin-top: 30px;
        width: 220px;
    }
    &__file {
        margin-top: 16px;
        position: relative;
        padding-left: 20px;
        & svg {
            width: 17px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
        & input {
            position: absolute;
            bottom: 0;
            transform: translate(0, 150%);
            color: var(--font-color-grey);
            opacity: 0.6;
            &::file-selector-button {
                display: none;
            }
        }
        & span {
            margin-left: 15px;
            font-size: 11px;
            color: var(--font-color-grey);
        }
        & label {
            text-decoration: underline;
            font-size: 12px;
            cursor: pointer;
        }
    }
}

@import "media";
